.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.pre-scrollable-table {
	max-height: 500px;
	overflow-y: scroll;
}

.mouse-pointer {
	cursor: pointer;
}

.table-word-break {
	word-break:break-all;
}